@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

/*** basic styles ***/


label { 
  font-size: 22px;
  font-weight: 600;

}


/*** custom checkboxes ***/

.title-check{ display:none; } /* to hide the checkbox itself */
.title-check+ .title-label:before {
  font-family: FontAwesome;
  display: inline-block;
  // color: blue;
}

.title-check + .title-label:before { content: "\f096"; } /* unchecked icon */
.title-check + .title-label:before { letter-spacing: 13px;font-size: 22px; } /* space between checkbox and label */

.title-check:checked + .title-label:before { content: "\f046"; } /* checked icon */
.title-check:checked + .title-label:before { letter-spacing: 10px; color:gray;font-size: 24px; } /* allow space for check mark */
.title-check:checked + .title-label{
  text-decoration: line-through;
  color:gray;
  
}


.fa-circle-o-notch{
  font-size: 30px;
  color: black;
}
.point-check{ display:none; } /* to hide the checkbox itself */
.point-check+ .point-label:before {
  font-family: FontAwesome;
  display: inline-block;
  // color: blue;
}

.point-check + .point-label:before { content: "\f096"; } /* unchecked icon */
.point-check + .point-label:before { letter-spacing: 13px;font-size: 34px; } /* space between checkbox and label */

.point-check:checked + .point-label:before { content: "\f046"; } /* checked icon */
.point-check:checked + .point-label:before { letter-spacing: 10px; color:gray;font-size: 34px;} /* allow space for check mark */
.point-check:checked + .point-label{
  text-decoration: line-through;
  color:gray;
}

