header{
    height: 30%;
    .up{
        width: 100%;
        height: 75%;
        background-image: url(../../assets/mountains2.jpg);
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: flex-end;
        margin-bottom: -5%;
        .my-day{
            width:100%;
            height: 55%;
            // border: 1px solid black;
            font-size: 30px;
            padding: 0 20px 10px 20px;
            color:$white;
            font-style: italic;
        }
        .date{
            font-size: 20px;
            margin-top: 7px;
            
        }
    }
    .down{
        width: 100%;
        height: 30%;
        margin-top: 3%;
        .button-wrapper{
            display: flex;
            width: 100%;
            height: 67%;
    }
    .button{
        height: 100%;
        width: 33.33%;
        border: 2px solid $white;
        background-color: $main-color;
        display: flex;
        color: $white;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-size: 20px;
        // border-radius: 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        }
    .button-additional{
        border: 2px solid $main-color;
        border-right: 2px solid $white;
        border-left: 2px solid $white;
        border-top: 2px solid $white;
    }
    .button-box{
        width: 100%;
        height: 33%;
        background-color: $main-color;
        border-right: 2px solid $white;
        border-bottom: 2px solid $white;
        border-left: 2px solid $white;
    }    
    }    
}