.list-container{
    height: 70%;
    .item{
        width: 100%;
        height: 20%;
        border: 0.2px solid gray;
        margin: 4px 0;
        border-radius: 10px;
        background-color: $white;
    }
    .title{
        width: 100%;
        height: 60%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 10%;
        padding-top: 2%;
        margin-bottom: -2%;
    }
    .title-wrapper{
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 10%;
    }
  
    .detail{
        width: 100%;
        height: 45%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
  
    .fa-trash-alt{
        // font-size: 20px;
        cursor: pointer;
        margin: 0 0 0 15px;
    }
    .deadline{
        margin: 0 15px;
    }
    .fa-bell{
        margin: 0 0 0 15px;
    }
    .check-detail{
        width: 20%;
        height: 50%;
        background-color: $main-color;
        border-radius: 6px;
        // margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $white;
        font-size: 12px;
    }
}
.no-todos-container{
    @include leisure;
}