@import './_partials/reset';
@import './_partials/variables';


body{
    font-family: 'Roboto', sans-serif;
    background-color: lightgray;
    overflow-x: hidden;
}
.mobile{
    border: 1px solid black;
    width: 500px;
    height: 1020px;
    margin: 35px 50vw 35px 10vw;
   
}
header{
    height: 30%;
    .up{
        width: 100%;
        height: 82%;
        background-image: url(../assets/back.jpg);
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .down{
        width: 100%;
        height: 18%;
        // border: 2px solid white;
        .button-wrapper{
            display: flex;
            width: 100%;
            height: 67%;
    }
    .button{
        height: 100%;
        width: 33.33%;
        border: 2px solid white;
        background-color: #294E80;
        display: flex;
        color: white;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-size: 20px;
        }
    .button-additional{
        border: 2px solid #294E80;
        border-right: 2px solid white;
        border-left: 2px solid white;
        border-top: 2px solid white;
    }
    .button-box{
        width: 100%;
        height: 33%;
        background-color: #294E80;
        border-right: 2px solid white;
        border-bottom: 2px solid white;
        border-left: 2px solid white;
    }    
    }    
}
@media screen and (max-width: 900px){
    .mobile{
       
        margin: 35px auto;
    }
}
@media screen and (max-width: 500px){
    .mobile{
        width: 100vw;
        height: 100vh;
        margin: 0;
    }
}
.list{
    height: 70%;
    .item{
        width: 100%;
        height: 20%;
        border: 0.2px solid gray;
    }
    .title{
        width: 100%;
        height: 40%;
        border: 0.2px solid gray;
    }
    .title-wrapper{
        height: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
        padding-left: 10%;
    // input{
    //     font-size: 3.5vw;
    // }
    // label{
    //     font-size: 3.5vw;
    // }
    }
    .date{
        width: 100%;
        height: 30%;
        border: 0.2px solid gray;
    }
    .detail{
        width: 100%;
        height: 30%;
        border: 0.2px solid gray;
    }
}

$black: #363839;
$lightgray: #9c9e9f;
$gray: #294E80;
$white: #fff;
$green: #294E80;

* {
  box-sizing: border-box;
  &::before, &::after {
    box-sizing: border-box;
  }
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
}

input[type="checkbox"] {
  position: relative;
  width: 1.5em;
  height: 1.5em;
  color: $black;
  border: 2px solid $gray;
  border-radius: 4px;
  appearance: none;
  outline: 0;
  cursor: pointer;
  transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
  &::before {
    position: absolute;
    content: '';
    display: block;
    top: 2px;
    left: 7px;
    width: 8px;
    height: 14px;
    border-style: solid;
    border-color: $white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
  }
  &:checked {
    color: $white;
    border-color: $green;
    background: $green;
    &::before {
      opacity: 1;
    }
    ~ label::before {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  }
}

label {
  position: relative;
  cursor: pointer;
  font-size: 1.5em;
  font-weight: 600;
  padding: 0 1em 0 ;
  user-select: none;
  &::before {
    position: absolute;
    content: attr(data-content);
    color: $lightgray;
    clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
    text-decoration: line-through;
    text-decoration-thickness: 3px;
    text-decoration-color: $black;
    transition: clip-path 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
}
