@import './_partials/reset';
@import './_partials/variables';
@import './_partials/mixins';
@import './_partials/header';
@import './_partials/list';
@import './_partials/checkbox';
@import './_partials/detail';
@import './_partials/edit';
@import './_partials/task';
@import './_partials/add';

* {
    box-sizing: border-box;
    &::before, &::after {
    box-sizing: border-box;
    }
  }
body{
    font-family: $font;
    background-color: $background;
    overflow-x: hidden;
    color:$main-color;
}
.mobile{
    border: 1px solid $black;
    background-color: $second-background;
    // width: 500px;
    // height: 1020px;
    width: 380px;
    height: 700px;
    margin: 35px 50vw 35px 10vw;
}

@media screen and (max-width: 900px){
    .mobile{
       
        margin: 35px auto;
    }
}
@media screen and (max-width: 500px){
    .mobile{
        width: 100vw;
        height: 100vh;
        margin: 0;
    }
}
